<% include partials/header %>
    <h1 id="home">Welcome to a community where Students and Teacher can interact with each others,<br>
    thereby saving their time and energy.</h1>
    <h1> PRESS THE SIGN UP BUTTON TO GET STARTED</h1>
    
<% include partials/footer %>