<% include partials/header %>
<h1 class="login">Login</h1>
<div class="container">
    <form action="/login" method="POST" class="login">
        <div class="form-group">
            <lable><strong>Username:  </strong></lable>
        <input style="color:black;" type="text" name="username" placeholder="username">
        </div>
        <div class="form-group">
            <lable><strong>Password:  </strong></lable>
        <input style="color:black;" type="password" name="password" placeholder="password">
        </div>
        <button class="btn btn-success" href="/home">Login</button>   
    </form>
</div>
<% include partials/footer %>