<div class = "container">
        <div class="row">
              <div class="col-md-3">
                <div id = "tasker">
                  <div class = "tasks"><a href="/assignments" class="btn btn-primary btn-block">Assignments</a></div>
                  <div class = "tasks"><a href="/notices" class="btn btn-primary btn-block">Notices</a></div>
                  <div class = "tasks"><a href="/marks" class="btn btn-primary btn-block">Marks/Notes</a></div>
                  <div class = "tasks"><a href="/questions" class="btn btn-primary btn-block">Q/Ans</a></div>
                  <div class = "tasks"><a href="http://xampaperz.com/college/exams/xampaperz/usict.php" target="_blank" class="btn btn-primary btn-block">Previous Year Papers</a></div>
                </div>
              </div>
        <div class="col-md-9">